function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 1
neg
pop local 2
label LABEL_WHILE_1
push local 2
not
if-goto LABEL_CONTINUE_WHILE_1
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
not
if-goto LABEL_ELSE_1
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto LABEL_ELSE_2
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto LABEL_CONTINUE_IF_2
label LABEL_ELSE_2
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label LABEL_CONTINUE_IF_2
goto LABEL_CONTINUE_IF_1
label LABEL_ELSE_1
push constant 0
pop local 2
label LABEL_CONTINUE_IF_1
goto LABEL_WHILE_1
label LABEL_CONTINUE_WHILE_1
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto LABEL_ELSE_3
push constant 1
return
goto LABEL_CONTINUE_IF_3
label LABEL_ELSE_3
push argument 0
push constant 2
call Math.multiply 2
return
label LABEL_CONTINUE_IF_3
function Main.fillMemory 0
label LABEL_WHILE_3
push argument 1
push constant 0
gt
not
if-goto LABEL_CONTINUE_WHILE_2
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto LABEL_WHILE_3
label LABEL_CONTINUE_WHILE_2
push constant 0
return
